<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book-Store</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li ><%= link_to('Home', home_index_path, method: :get) %> </li>
      <li><%= link_to('My Books', books_path, method: :get) %> </li>
      <li ><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>


    </ul>
  </div>
</nav>