<div class="container text-center">
  <h2>Alternative Bootstrap Thumbnails 
    <br><small>With overlay effect on hover</small>
  </h2>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->
    <div class="col-sm-4 col-md-3">
      <div class="thumb">
        <a href="#">
          <img data-src="holder.js/533x400?auto=yes&random=yes" class="img-responsive">
          <div class="hover-opaque">
          </div>
          <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span>
        </a>
      </div>
      <div class="thumb-caption text-center">
        <figcaption><a href="#">Thumbnail Caption</a></figcaption>
      </div>
    </div>
    <!-- end-column -->


  </div>
  <!-- end-row -->
  <button class="btn btn-default" id="refresh">Refresh Colours</button>
  <h4>Placeholders powered by <a href="https://github.com/imsky/holder" target="_blank">Holder.js</h4>

</div>
<!-- end-container -->